table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}



tr:nth-child(odd) {
    background-color: lightcoral;
}

tr:nth-child(even) {
    background-color: lightblue;
}